//@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
$default_margin: 35px;
$default_bc: #fff;
$default_br: 4px;
$cs_font: Meta, Arial, Helvetica, "sans-serif";
$default_bb: #ebebeb;

@font-face {
  font-family: $cs_font;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none; //不需要下划线    放到外面全局统一风格
}

//--------------------------- banner -------------------------//
.banner-sales {
  text-align: center;

  .banner-text {
    height: 4vh;
    background: #e62b00;
    display: flex;
    justify-content: center;
    color: white;
    font-family: $cs_font;
    font-weight: 400;
    align-items: center;
  }

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;

}

.sticky + .content {
  padding-top: 60px;
}

//--------------------------- header -------------------------//

header {
  //.action-banner{
  height: 4vh; // view height 视角高度，view就是当前屏幕，15代表占整个屏幕高度15%的比例
  //background-color: antiquewhite;
  background-color: white;
  display: flex;
  justify-content: space-around;
  font-size: 10px;
  border-bottom: 1px solid $default_bb;
  font-family: $cs_font;
  font-weight: 400;

  .left-site-list {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 10px;
    list-style: none;
    //border-left: 1px solid #ebebeb;
    //border-right: 1px solid #ebebeb;
    width: 84px;
    padding: 0;
    position: relative;

    a {
      color: gray;
      padding: 20px 20px;

      &.active {
        background-color: lightgoldenrodyellow;
      }
    }
  }

  .center-site-list {
    display: flex;
    text-align: center;
    align-items: center;
    list-style: none;
    position: relative;

    a {
      color: gray;
      padding: 20px 15px;

      &.active {
        background-color: lightgoldenrodyellow;
      }
    }
  }

  .right-site-list {
    display: flex;
    text-align: center;
    align-items: center;
    list-style: none;
    position: relative;

    a {
      color: gray;
      padding: 20px 20px;

      &.active {
        background-color: lightgoldenrodyellow;
      }
    }
  }
}

//--------------------------- Content Part include nav, office chair -------------------------//

.container {
  //background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: space-around; //使1200这部分局中显示
  max-width: 1400px;  //最大显示1600，可以比1600小
  margin: 0 auto 50px; //顶部，底部，左右  auto的效果就是当页面拉伸到大于1200的时候会居中显示



  //--------------------------- Navigator Part -------------------------//



  &__nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid $default_bb;
    background-color: white;
    z-index: 99;
    margin: 0;
    padding: 0;
    font-weight: 600;
    max-width: 1400px;
    font-size: 16px;
    font-family: $cs_font;

    //position: fixed;
    //top: 0;
    //width: 100%;

    img {
      margin: 0 30px 0 0;
    }

    a {
      color: black;
      padding: 25px 0;

      &.active {
        background-color: lightgoldenrodyellow;
      }
    }

    .container__header-search-icon{
      background-color: #ffffff;
      border: 1px solid #eeeeee;
      border-radius: 6px;
      font-size: 14px;
      text-align: center;

      input[type="text"]
      {
        text-indent: 10px;
        height: 1.8rem;
        line-height: 1.9rem;
        width: 100%;
        border: 1px solid #ebebeb;
        outline: none;

      }
    }



  }

  //--------------------------- Product Page(Office Chair) -------------------------//

  &__content {
    padding: $default_margin;
    //background-color: aliceblue;

    &__breadcrumb {
      display: flex;
      color: gray;
      margin: 0 0 30px;
      padding: 0;
      font-weight: 400;
      font-size: 8px;
      font-family: $cs_font;

    }

    &__title {
      //margin: -35px -35px $default_margin -35px ;
      margin: 30px 0 40px;
      font-size: 60px;
      font-family: $cs_font;
      font-weight: 700;
      color: black;
      background: white;
      //padding: $default_margin;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__sort-by {
      display: flex;
      margin: 20px 0;
      align-items: baseline;
      justify-content: space-between;

      &__left-part {
        display: flex;
        align-items: baseline;

        label {
          display: flex;
          margin: 0 10px;
          font-style: normal;
          font-family: $cs_font;
        }

      }
    }


    //--------------------------- Product item(img, description) -------------------------//

    &__list {
      display: flex;
      flex-wrap: wrap; //当一个flex container里面有好多item的时候可以自动换行排列，变窄就把内容往下移一行

      product-item { //自己定义一个html tag
        background: $default_bc;
        flex: 0 0 33.33%; //33.33%把一个行除以3，每一个占33。33%，一行3个
        flex-direction: column;
        margin: 0; //对于每一个item的margin要求，最后一个左的省略没写因为会取和右一样的0这个值
        transition: 0.2s all ease;


        .product-item {
          //text-align: center;
          //margin: 0 10px;
          //padding: 20px 10px;
          //background: #f5f5f5;

          position: relative;
          list-style: none;
          padding: 0 .9375rem;
          width: 312px;
          float: left;
          margin-bottom: 4.5rem;

          product-display {
            display: block; //独占一行
            .product-display {
              &__base {
                position: relative; //相对于display有一个相对的位移
                text-align: center;

              }
            }
          }

          .product-review {

            .rating {
              display: flex;
              justify-content: flex-start;
              align-content: center;

              .rating-star {
                display: inline-block;
                vertical-align: top;
                width: .875rem;
                height: .875rem;
                margin: 0.0625rem;
              }
            }

            h3 {
              color: #252525;
              margin: 3px 0;
              font-size: 14px;
              font-weight: 600;
              text-decoration: none;
            }

            .product-sales-price {
              font-size: 11px;
              font-family: $cs_font;
              color: #757575;
            }

            .color-choosing {
              img {
                width: 1.25rem;
                margin: 0.325rem;
                font-size: 1rem;
              }
            }

            p {
              font-size: 14px;
              font-family: $cs_font;
              font-weight: 100;
              margin: 5px 0;
              color: #e62b00;
            }

          }
        }

      }
    }
  }
}


//.outlineEle{
//  margin: 20px 10px;
//}
//
//a { //全局统一定义a链接
//   text-decoration: none; //不需要下划线
// }


footer {
  height: 50vh;
  //border-radius: 0 0 $default_br $default_br;  //左上的两个没有圆刀角，下面的有圆刀角
  display: flex;
  justify-content: space-around;
  color: $default_bc;
  font-family: $cs_font;
  font-weight: 500;
  padding: 40px 0 44px;
  text-align: center;
  background-color: lightgray;
  align-items: baseline;

  .footer_section {
    width: 300px;
    color: black;
    margin: 0 30px;
    font-size: 16px;

    &__parent {
      margin: 0 0 24px;
    }

    .outlineEle {
      align-items: baseline;
    }

    a {
      display: flex;
      justify-content: space-around;
      margin: 15px 0;
      font-size: 14px;
      color: #7E7E7E;
    }

  }
}

//----------------------------------------------- Product Detail Page --------------------------------------------------//

.container__content__image{
  display: flex;
  float: left;
  width: 68.5%;
  padding-right: 2rem;


  .product-gallery{
    display: flex;
    flex-direction: column;
    //background-color: gray;
    margin-right: 2rem;

    img{
      width: 73px;
      height: 57px;
      margin: 0 0 15px;
    }
  }

  img {
    width: calc(100% - 110px);
  }
}

.product-detail{
  display: flex;
  flex-direction: column;
  font-family: $cs_font;

  h1{
    margin: 0;
  }

  p.product-designer{
    color: #757575;
  }

  .rating {
    display: flex;
    justify-content: flex-start;
    align-content: center;

    .rating-star {
      display: inline-block;
      vertical-align: top;
      width: .875rem;
      height: .875rem;
      margin: 0.0625rem;
    }
  }

  .product-price{
    margin: 18px 0;
    font-size: 19px;
  }

  .warranty-info{
    display: flex;
    flex-direction: column;
    font-weight: 500;

    a{

      align-items: baseline;
      vertical-align: middle;
      color: #252525;
      margin: 7px 0;
    }

    span{
      margin-left: 5px ;
    }
  }

  .promo{
    font-size: 16px;
    font-family: $cs_font;
    font-weight: 100;
    margin: 20px 0;
    color: #e62b00;
  }

  label{
    height: 55px;
    width: 300px;
    font-size: 20px;
    font-family: $cs_font;
    font-weight: 700;
    color: #252525;
    background-color: #f7f7f7 ;
    padding: 12px;
    margin: 20px 0;
  }

  .selected-swatch{
    font-family: $cs_font;
    font-size: 16px;
    color: #464646;
    border-bottom: 2px solid #ebebeb;
    margin-top: 20px;
    margin-bottom: 1.3125rem;
  }

  .frame-base{
    display: flex;
    img{
      width: 3.25rem;
      margin: 0.325rem;
      font-size: 1rem;
    }
  }

  button{
    text-align: center;
    font-family: $cs_font;
    font-size: 1rem;
    font-weight: 600;
    background: white;
    color: #252525;
    border: 1px solid #d7d7d7;
    line-height: 2.875rem;
    cursor: pointer;
    margin: 15px 0;
    transition: all .3s ease;
    border-radius: .3125rem;
    min-width: 12.8125rem;
    width: 250px;
  }

  input[type="radio"]
  {
    font-family: $cs_font;
    color: #464646;
    margin: 15px 15px 15px 0;

  }


}

.description{
  border-top: 1px solid $default_bb;
  margin-top: 30px;

  h4{
    text-align: center;
    padding: 20px 0 45px;
    font-size: 32px;
  }

  .description-list{
    display: flex;


    .left-side{
      color: #757575;
      font-family: $cs_font;
      flex: 0 50%;
      margin-left: 20px;
      margin-right: 60px;
    }

    .right-side{
      vertical-align: baseline;
      color: #464646;
      font-family: $cs_font;
      margin-left: 100px;

      h6{
        margin: 0;
        font-size: 1rem;
      }

      ul{
        padding: 0 18px;
        margin: 30px 0;
      }

      li{
        margin: 20px 0;

      }
    }
  }




}


//------------------------------------------------ User Login Page -----------------------------------------------------//


.loginForm{
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid $default_bb;
  border-radius: 5px;
  padding: 20px;

  .h1{
    font-size: 40px;
    font-weight: 700;
    border-bottom: 4px solid;
    margin-bottom: 50px;
    padding: 13px 85px ;
  }

  .textbox{
    margin: .625rem 0 2rem;
    font-size: 100%;
    vertical-align: baseline;
    color: #252525;

    label{
      margin-bottom: .5rem;
      font-family: $cs_font;
      font-weight: 700;
      color: #252525;
      font-size: .875rem;
      line-height: 1.5rem;

    }

    input{
      text-indent: 10px;
      height: 1.8rem;
      line-height: 1.9rem;
      width: 100%;
      border: 1px solid #ebebeb;
      border-radius: 5px;

    }
  }

  .btn{
    height: 2rem;
    width: 40%;
    border: none;
    border-radius: 5px;
    font-family: $cs_font;
    font-weight: 700;
    background-color: #cc331e;
    color: white;



  }


}


//------------------------------------------------ Product Add Page -----------------------------------------------------//

.productAdd{
  width: 1000px;
  margin: 50px 100px;

}


//------------------------------------------------ Alert -----------------------------------------------------//
.alert-div{
  position: absolute;
  top: 30%;
  width: 300px;
  height: 200px;
}



//-------------------------------------------------- Cart ------------------------------------------------------//

.cart{

  font-family: $cs_font;

  h1{
    margin: 30px 0 40px;
    font-weight: 700;
    color: black;
  }

  table th{
    border-bottom: 1px solid $default_bb;
    border-top: none;
    font-weight: normal;
    color: #252525;
  }

  .item-image{
    max-width: 147px;

  }

  img{
    width: 127px;
    height: 156px;
  }

  .item-details{
    max-width: 255px;
  }

  input{
    width: 50px;
  }

  .cart-footer{
    display: flex;
    border-top: 1px solid $default_bb;
    margin-top: 30px;
    padding-top: 30px;

    .guarantee{
      h4{
        color: #252525;
        font-weight: 700;
      }

      color: #757575;
      font-family: $cs_font;
      flex: 0 50%;
      margin-left: 20px;
      margin-right: 60px;
    }

    .checkout{
      display: table;
      vertical-align: baseline;
      color: #464646;
      font-family: $cs_font;
      margin-left: 100px;
      max-width: 22.5rem;

      tr{
        line-height: 3rem;
        display: flex;
        justify-content: space-between;

        td{
          margin-left: 40px;
        }
      }

      button{
        width: auto;
        margin-top: 1.875rem;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        height: 3rem;
        min-width: 12.8125rem ;
        border-radius: 0.3125rem;
        font-family: $cs_font;
        font-weight: 700;
        font-size: 1rem;
        color: white;
        background-color: #cc331e;
        border: 4px solid transparent;
      }



    }
  }

}

/* ------------ BottomBar Style ------------*/

.total-bar {
  height: 4vw;
  background-color: #ffffff;
  border-top: solid 1px lightgray;
  display: flex;
  justify-content: space-between;
  font-family: $cs_font;
  min-height: 50px;

  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;

  .totalbar-title {
    padding: 0 2vw;
    h3 {
      font-size: 1.2vw;
      font-family: $cs_font;
      font-weight: bold;
      margin: 1.2vw 0;
    }

  }

  .totalbar-right {
    display: flex;

    .total-bar-icon, .total-bar-shipinfo {
      color: #757575;
      margin: 1.5vw .5vw;
      font-size: .9vw;

    }

    .total-bar-amount {
      font-size: 1.2vw;
      font-weight: bold;
      margin: 1.1vw 0 0 1vw;
      line-height: 2vw;
    }

    #quantity-input {
      width: 3vw;
      line-height: 3vw;
      height: 2vw;
      text-align: center;
      border-radius: $default-br;
      border: solid 1px #616161;
      margin: 1.1vw 1vw 1.1vw 2vw;
      font-size: 1vw;
    }

    #add-to-cart {
      margin: 0.9vw 2vw .9vw 1vw;
      width: 7vw;
      line-height: 2.3vw;
      height: 2.3vw;
      background-color: #cc331e;
      color: #ffffff;
      border-radius: $default-br;
      border-style: none;
      font-weight: bold;
      font-size: 1vw;
    }
  }

}

/* ------------ BottomBar Style Ends ------------*/

