@font-face {
  font-family: Meta, Arial, Helvetica, "sans-serif";
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
}

.banner-sales {
  text-align: center;
}
.banner-sales .banner-text {
  height: 4vh;
  background: #e62b00;
  display: flex;
  justify-content: center;
  color: white;
  font-family: Meta, Arial, Helvetica, "sans-serif";
  font-weight: 400;
  align-items: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

header {
  height: 4vh;
  background-color: white;
  display: flex;
  justify-content: space-around;
  font-size: 10px;
  border-bottom: 1px solid #ebebeb;
  font-family: Meta, Arial, Helvetica, "sans-serif";
  font-weight: 400;
}
header .left-site-list {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 10px;
  list-style: none;
  width: 84px;
  padding: 0;
  position: relative;
}
header .left-site-list a {
  color: gray;
  padding: 20px 20px;
}
header .left-site-list a.active {
  background-color: lightgoldenrodyellow;
}
header .center-site-list {
  display: flex;
  text-align: center;
  align-items: center;
  list-style: none;
  position: relative;
}
header .center-site-list a {
  color: gray;
  padding: 20px 15px;
}
header .center-site-list a.active {
  background-color: lightgoldenrodyellow;
}
header .right-site-list {
  display: flex;
  text-align: center;
  align-items: center;
  list-style: none;
  position: relative;
}
header .right-site-list a {
  color: gray;
  padding: 20px 20px;
}
header .right-site-list a.active {
  background-color: lightgoldenrodyellow;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1400px;
  margin: 0 auto 50px;
}
.container__nav {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  background-color: white;
  z-index: 99;
  margin: 0;
  padding: 0;
  font-weight: 600;
  max-width: 1400px;
  font-size: 16px;
  font-family: Meta, Arial, Helvetica, "sans-serif";
}
.container__nav img {
  margin: 0 30px 0 0;
}
.container__nav a {
  color: black;
  padding: 25px 0;
}
.container__nav a.active {
  background-color: lightgoldenrodyellow;
}
.container__nav .container__header-search-icon {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
}
.container__nav .container__header-search-icon input[type=text] {
  text-indent: 10px;
  height: 1.8rem;
  line-height: 1.9rem;
  width: 100%;
  border: 1px solid #ebebeb;
  outline: none;
}
.container__content {
  padding: 35px;
}
.container__content__breadcrumb {
  display: flex;
  color: gray;
  margin: 0 0 30px;
  padding: 0;
  font-weight: 400;
  font-size: 8px;
  font-family: Meta, Arial, Helvetica, "sans-serif";
}
.container__content__title {
  margin: 30px 0 40px;
  font-size: 60px;
  font-family: Meta, Arial, Helvetica, "sans-serif";
  font-weight: 700;
  color: black;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__content__sort-by {
  display: flex;
  margin: 20px 0;
  align-items: baseline;
  justify-content: space-between;
}
.container__content__sort-by__left-part {
  display: flex;
  align-items: baseline;
}
.container__content__sort-by__left-part label {
  display: flex;
  margin: 0 10px;
  font-style: normal;
  font-family: Meta, Arial, Helvetica, "sans-serif";
}
.container__content__list {
  display: flex;
  flex-wrap: wrap;
}
.container__content__list product-item {
  background: #fff;
  flex: 0 0 33.33%;
  flex-direction: column;
  margin: 0;
  transition: 0.2s all ease;
}
.container__content__list product-item .product-item {
  position: relative;
  list-style: none;
  padding: 0 0.9375rem;
  width: 312px;
  float: left;
  margin-bottom: 4.5rem;
}
.container__content__list product-item .product-item product-display {
  display: block;
}
.container__content__list product-item .product-item product-display .product-display__base {
  position: relative;
  text-align: center;
}
.container__content__list product-item .product-item .product-review .rating {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
.container__content__list product-item .product-item .product-review .rating .rating-star {
  display: inline-block;
  vertical-align: top;
  width: 0.875rem;
  height: 0.875rem;
  margin: 0.0625rem;
}
.container__content__list product-item .product-item .product-review h3 {
  color: #252525;
  margin: 3px 0;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.container__content__list product-item .product-item .product-review .product-sales-price {
  font-size: 11px;
  font-family: Meta, Arial, Helvetica, "sans-serif";
  color: #757575;
}
.container__content__list product-item .product-item .product-review .color-choosing img {
  width: 1.25rem;
  margin: 0.325rem;
  font-size: 1rem;
}
.container__content__list product-item .product-item .product-review p {
  font-size: 14px;
  font-family: Meta, Arial, Helvetica, "sans-serif";
  font-weight: 100;
  margin: 5px 0;
  color: #e62b00;
}

footer {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-family: Meta, Arial, Helvetica, "sans-serif";
  font-weight: 500;
  padding: 40px 0 44px;
  text-align: center;
  background-color: lightgray;
  align-items: baseline;
}
footer .footer_section {
  width: 300px;
  color: black;
  margin: 0 30px;
  font-size: 16px;
}
footer .footer_section__parent {
  margin: 0 0 24px;
}
footer .footer_section .outlineEle {
  align-items: baseline;
}
footer .footer_section a {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
  font-size: 14px;
  color: #7E7E7E;
}

.container__content__image {
  display: flex;
  float: left;
  width: 68.5%;
  padding-right: 2rem;
}
.container__content__image .product-gallery {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}
.container__content__image .product-gallery img {
  width: 73px;
  height: 57px;
  margin: 0 0 15px;
}
.container__content__image img {
  width: calc(100% - 110px);
}

.product-detail {
  display: flex;
  flex-direction: column;
  font-family: Meta, Arial, Helvetica, "sans-serif";
}
.product-detail h1 {
  margin: 0;
}
.product-detail p.product-designer {
  color: #757575;
}
.product-detail .rating {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
.product-detail .rating .rating-star {
  display: inline-block;
  vertical-align: top;
  width: 0.875rem;
  height: 0.875rem;
  margin: 0.0625rem;
}
.product-detail .product-price {
  margin: 18px 0;
  font-size: 19px;
}
.product-detail .warranty-info {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.product-detail .warranty-info a {
  align-items: baseline;
  vertical-align: middle;
  color: #252525;
  margin: 7px 0;
}
.product-detail .warranty-info span {
  margin-left: 5px;
}
.product-detail .promo {
  font-size: 16px;
  font-family: Meta, Arial, Helvetica, "sans-serif";
  font-weight: 100;
  margin: 20px 0;
  color: #e62b00;
}
.product-detail label {
  height: 55px;
  width: 300px;
  font-size: 20px;
  font-family: Meta, Arial, Helvetica, "sans-serif";
  font-weight: 700;
  color: #252525;
  background-color: #f7f7f7;
  padding: 12px;
  margin: 20px 0;
}
.product-detail .selected-swatch {
  font-family: Meta, Arial, Helvetica, "sans-serif";
  font-size: 16px;
  color: #464646;
  border-bottom: 2px solid #ebebeb;
  margin-top: 20px;
  margin-bottom: 1.3125rem;
}
.product-detail .frame-base {
  display: flex;
}
.product-detail .frame-base img {
  width: 3.25rem;
  margin: 0.325rem;
  font-size: 1rem;
}
.product-detail button {
  text-align: center;
  font-family: Meta, Arial, Helvetica, "sans-serif";
  font-size: 1rem;
  font-weight: 600;
  background: white;
  color: #252525;
  border: 1px solid #d7d7d7;
  line-height: 2.875rem;
  cursor: pointer;
  margin: 15px 0;
  transition: all 0.3s ease;
  border-radius: 0.3125rem;
  min-width: 12.8125rem;
  width: 250px;
}
.product-detail input[type=radio] {
  font-family: Meta, Arial, Helvetica, "sans-serif";
  color: #464646;
  margin: 15px 15px 15px 0;
}

.description {
  border-top: 1px solid #ebebeb;
  margin-top: 30px;
}
.description h4 {
  text-align: center;
  padding: 20px 0 45px;
  font-size: 32px;
}
.description .description-list {
  display: flex;
}
.description .description-list .left-side {
  color: #757575;
  font-family: Meta, Arial, Helvetica, "sans-serif";
  flex: 0 50%;
  margin-left: 20px;
  margin-right: 60px;
}
.description .description-list .right-side {
  vertical-align: baseline;
  color: #464646;
  font-family: Meta, Arial, Helvetica, "sans-serif";
  margin-left: 100px;
}
.description .description-list .right-side h6 {
  margin: 0;
  font-size: 1rem;
}
.description .description-list .right-side ul {
  padding: 0 18px;
  margin: 30px 0;
}
.description .description-list .right-side li {
  margin: 20px 0;
}

.loginForm {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #ebebeb;
  border-radius: 5px;
  padding: 20px;
}
.loginForm .h1 {
  font-size: 40px;
  font-weight: 700;
  border-bottom: 4px solid;
  margin-bottom: 50px;
  padding: 13px 85px;
}
.loginForm .textbox {
  margin: 0.625rem 0 2rem;
  font-size: 100%;
  vertical-align: baseline;
  color: #252525;
}
.loginForm .textbox label {
  margin-bottom: 0.5rem;
  font-family: Meta, Arial, Helvetica, "sans-serif";
  font-weight: 700;
  color: #252525;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.loginForm .textbox input {
  text-indent: 10px;
  height: 1.8rem;
  line-height: 1.9rem;
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}
.loginForm .btn {
  height: 2rem;
  width: 40%;
  border: none;
  border-radius: 5px;
  font-family: Meta, Arial, Helvetica, "sans-serif";
  font-weight: 700;
  background-color: #cc331e;
  color: white;
}

.productAdd {
  width: 1000px;
  margin: 50px 100px;
}

.alert-div {
  position: absolute;
  top: 30%;
  width: 300px;
  height: 200px;
}

.cart {
  font-family: Meta, Arial, Helvetica, "sans-serif";
}
.cart h1 {
  margin: 30px 0 40px;
  font-weight: 700;
  color: black;
}
.cart table th {
  border-bottom: 1px solid #ebebeb;
  border-top: none;
  font-weight: normal;
  color: #252525;
}
.cart .item-image {
  max-width: 147px;
}
.cart img {
  width: 127px;
  height: 156px;
}
.cart .item-details {
  max-width: 255px;
}
.cart input {
  width: 50px;
}
.cart .cart-footer {
  display: flex;
  border-top: 1px solid #ebebeb;
  margin-top: 30px;
  padding-top: 30px;
}
.cart .cart-footer .guarantee {
  color: #757575;
  font-family: Meta, Arial, Helvetica, "sans-serif";
  flex: 0 50%;
  margin-left: 20px;
  margin-right: 60px;
}
.cart .cart-footer .guarantee h4 {
  color: #252525;
  font-weight: 700;
}
.cart .cart-footer .checkout {
  display: table;
  vertical-align: baseline;
  color: #464646;
  font-family: Meta, Arial, Helvetica, "sans-serif";
  margin-left: 100px;
  max-width: 22.5rem;
}
.cart .cart-footer .checkout tr {
  line-height: 3rem;
  display: flex;
  justify-content: space-between;
}
.cart .cart-footer .checkout tr td {
  margin-left: 40px;
}
.cart .cart-footer .checkout button {
  width: auto;
  margin-top: 1.875rem;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  height: 3rem;
  min-width: 12.8125rem;
  border-radius: 0.3125rem;
  font-family: Meta, Arial, Helvetica, "sans-serif";
  font-weight: 700;
  font-size: 1rem;
  color: white;
  background-color: #cc331e;
  border: 4px solid transparent;
}

/* ------------ BottomBar Style ------------*/
.total-bar {
  height: 4vw;
  background-color: #ffffff;
  border-top: solid 1px lightgray;
  display: flex;
  justify-content: space-between;
  font-family: Meta, Arial, Helvetica, "sans-serif";
  min-height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
.total-bar .totalbar-title {
  padding: 0 2vw;
}
.total-bar .totalbar-title h3 {
  font-size: 1.2vw;
  font-family: Meta, Arial, Helvetica, "sans-serif";
  font-weight: bold;
  margin: 1.2vw 0;
}
.total-bar .totalbar-right {
  display: flex;
}
.total-bar .totalbar-right .total-bar-icon, .total-bar .totalbar-right .total-bar-shipinfo {
  color: #757575;
  margin: 1.5vw 0.5vw;
  font-size: 0.9vw;
}
.total-bar .totalbar-right .total-bar-amount {
  font-size: 1.2vw;
  font-weight: bold;
  margin: 1.1vw 0 0 1vw;
  line-height: 2vw;
}
.total-bar .totalbar-right #quantity-input {
  width: 3vw;
  line-height: 3vw;
  height: 2vw;
  text-align: center;
  border-radius: 4px;
  border: solid 1px #616161;
  margin: 1.1vw 1vw 1.1vw 2vw;
  font-size: 1vw;
}
.total-bar .totalbar-right #add-to-cart {
  margin: 0.9vw 2vw 0.9vw 1vw;
  width: 7vw;
  line-height: 2.3vw;
  height: 2.3vw;
  background-color: #cc331e;
  color: #ffffff;
  border-radius: 4px;
  border-style: none;
  font-weight: bold;
  font-size: 1vw;
}

/* ------------ BottomBar Style Ends ------------*/

/*# sourceMappingURL=main.css.map */
